@page "/"
@inject IJSRuntime js
@using Excubo.Blazor.ScriptInjection
@inject IScriptInjectionTracker sit

<AddScript Src="lazy.js" />

<button @onclick="Run">Execute code in lazy.js</button>

@code {
    private async Task Run()
    {
        await sit.LoadedAsync("lazy.js");
        await js.InvokeVoidAsync("console.log", "foo");
        await js.InvokeVoidAsync("helloworld.again");
    }
}